@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.modal-container {
  display: block;
  position: fixed;
  z-index: 1;
  left: 10%;
  top: 10%;
  width: 80%;
  height: 80%;
  overflow: auto;
  border-radius: 1.5em;
}
.modal-header {
  text-align: right;
  margin: 10px;
}
.modal-body {
  color: #ffffffec;
  /* padding: 40px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  height: 500px;
}
.left {
  margin-top: 60px;
  margin-left: 40px;
}
.details {
  font-family: Montserrat;
  display: flex;
  flex-direction: row;
}
.items {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h1 {
  text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.6);
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  font-family: sans-serif;
}
h2 {
  font-weight: 100;
  font-family: sans-serif;
  margin: 10px;
}
p {
  color: white;
}
ul {
  padding: 0px;
  margin: 0px;
}

li {
  margin-left: 10px;
  display: inline-block;
  list-style: none;
  color: rgb(244, 244, 244);
  border-radius: 2px;
  padding: 3px;
}
iframe {
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  align-self: center;
  width: 80%;
  height: 50%;
  margin: 10px;
  border: none;
  border-radius: 30px;
}
