@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  font-family: Inter;
}
.header-container {
  padding: 60px;
  /* background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); */
  margin: 0;
  text-align: center;
}
h1 {
  font-family: Inter;
  font-weight: normal;
  color: white;
}
.web-name {
  font-family: Inter;
}
.gradient {
  background: linear-gradient(334deg, #6b97f7, #7525e2, #f7137e);
  background-size: 180% 180%;
  animation: gradient-animation 6s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
