@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.card-container {
  font-family: Inter;
  max-width: 300px;
  width: 100%;
  background-color: #000000;
  border-radius: 0.5rem;
  overflow: hidden; /* makes sure corners are shown*/
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 20px;
  height: 400px;
  color: rgb(255, 255, 255);
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
  padding: 20px;
}
.card-container:hover {
  cursor: pointer;
}
.movie-image {
  object-fit: cover;
  width: 100%;
  height: 250px;
  align-self: center;
  margin: 2px;
}
.card-body {
  height: fit-content;
  text-align: center;
  padding: 1.5rem;
}
.card-container:hover {
  transform: scale(1.09);
  box-shadow: 0 15px 20px -5px rgba(0, 0, 0, 0.2),
    0 6px 10px -3px rgba(0, 0, 0, 0.1);
}
p {
  /* padding: 10px; */
  margin: 10px;
  font-size: 13px;
}
.liked {
  color: red;
}
span {
  margin-bottom: 10px;
  height: fit-content;
}
